body{
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #161616;;
}
p{
  display: block;
    margin-bottom: 40px;
    color: #dcdcdc;
    font-weight: 300;
    font-size: 18px;
}
header h1{
  color: #a3dff5;
  margin-left: 1rem;
}
.container{
  max-width: 1320px;
  margin: 0 auto;
}
.container-flex{
  display: flex;
  justify-content: space-between;
}
header{
  text-align: center;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #282828;
  margin-bottom: 5rem;
}
.form{
  background-color:#fff;
  max-width: 600px;
  min-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 10px;
}
.formControl{
  margin-bottom: 1rem;
}
.form .formInput{
  display: block;
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #cccccc;
    border-radius: 2px;
    box-sizing: border-box;
    color: #161616;
    font-size: 0.9rem;
}
.form .formInput:focus{
  outline: 0;
  border-color: #8c8c8c;
}
.form label{
  margin-bottom: 0.5rem;
  display: block;
  font-size: 1rem;
  color: #363636;
}
.buttonPrimary{
  padding: 1rem 2rem;
  color: #fff;
  background-color: #5268ff;
  border:none;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3rem;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}
.buttonPrimary:disabled{
  opacity: 0.5;
  cursor: not-allowed;
}
.buttonPrimary:hover{
  background-color: #4659d7;
}
.form .buttonPrimary{
  width: 100%;
  display: flex;
    justify-content: center;
}

@media(max-width:767px){
  .form{
    max-width: 73%;
    min-width: auto;
  }
  header{
    margin-bottom: 3rem;
  }
  .imageWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .imageContainer{
    width: 40%;
    margin: 0 0 1rem 0 !important;
    padding: 2% !important;
  }
  .imageContainer .profilePic {
    width: 6rem;
    height: 6rem;
  }
  h2{
    margin: 1rem;
  }
  .emptyStateProfile{
    padding: 1rem;
  }
  .emptyStateProfile p{
    text-align: center;
  }
}